.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  width: min(100%, 1200px);
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* .deco {
  position: absolute;
  top: 20%;
  right: -100px;
  width: 1px;
  height: 200px;
  background: linear-gradient(to bottom, transparent, var(--primary), transparent);
  opacity: 0.4;
} */

.marquee {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  gap: 1rem;
}

.marquee p {
  font-family: var(--font-default);
  font-size: 15vw;
  font-weight: 900;
  color: var(--primary);
  letter-spacing: -0.1rem;
  text-transform: uppercase;
  opacity: 0.05;
  animation: marquee 20s linear infinite;
}

.subtitle {
  font-family: var(--font-code);
  font-size: 0.75rem;
  color: var(--primary);
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-bottom: 2.25rem;
}

.title {
  font-family: var(--font-default);
  font-size: clamp(3rem, 14vw, 10rem);
  font-weight: 900;
  margin-bottom: 1.5rem;
  clip-path: inset(100% 0 0 0);
  opacity: 0;
}

.title:global(.is-active) {
  animation: clipShowUp 0.5s ease-in-out forwards;
}

.title em {
  -webkit-text-stroke: 1px var(--primary);
  color: transparent;
  font-style: normal;
}

.scrollIndicator {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  font-family: var(--font-code);
  font-size: 0.68rem;
  color: var(--gray-dark);
  letter-spacing: 0.1em;
  animation: blink 2s linear infinite;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }
}

@keyframes clipShowUp {
  0% {
    clip-path: inset(100% 0 0 0);
    opacity: 0;
  }

  100% {
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% - 1rem));
  }
}