:root {
  --color-bg: #f9f9f9;
  --color-primary: #194898;
  --color-primary-dim: rgba(25, 72, 152, 0.1);
  --color-secondary: #407fec;
  --color-white: #fff;
  --color-black: #1e1e1e;
  --color-gray: #afafaf;
  --font-eng: 'Syne', sans-serif;
  --font-code: 'DM Mono', monospace;
  --font-default: 'Pretendard', sans-serif;
}